* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scrollbar-width: thin;
}

body{
    background-color: rgb(204, 204, 204);
}
.texth{
    color: white;
    text-align: center;
    padding: 15px;
}
.texth-1{
    text-align: center;
    padding-top: 400px;
}
.texth-2{
    text-align: center;
    padding-top: 6px;
}
.texth-3{
    display: flex;
    text-align: center;
    
    
}

aside{
    display: flex;
    background-color: black;
    position: fixed;
    height: 100%;
}

.text_A{
    color: white;
    font-size:18px ;
    text-align: center;
    padding-top: 9px;
}
.main_bienvenida{
    width: 100%;
}

.footer_index{
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateX(45%);
}