* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scrollbar-width: thin;
}

body{
    display: flex;
    background-color: rgb(243, 243, 243);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#body2{
    background-color: rgb(204, 204, 204);
    display: block !important;
}
#titulo {
    align-self: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

#login {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}
#Ingresar {
    color: white;
    background-color: rgb(54, 177, 43);
}
#aviso {
    align-self: center;
    font-size: 1rem;
}
#aviso2 {
    align-self: center;
    font-size: 0.9rem;
}
#fecha {
    font-weight: bold;
}

.texth{
    color: white;
    text-align: center;
    padding: 15px;
}
.texth-1{
    text-align: center;
    padding-top: 400px;
    transform: translateX(-100px);
}
.texth-2{
    text-align: center;
    padding-top: 6px;
}
.texth-3{
    display: flex;
    text-align: center;
    
    
}

aside{
    display: flex;
    background-color: black;
    position: fixed;
    height: 100%;
    z-index: 20;
}

.text_A{
    color: white;
    font-size:18px ;
    text-align: center;
    padding-top: 9px;
}
.main_bienvenida{
    width: 100%;
}

.footer_index{
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateX(45%);
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
}
li {
    text-align: center;
}